<p>
  <%= link_to "Create post", new_post_path %>
</p>

<% if @posts.any? %>
  <div>
    <% @posts.each do |post| %>
      <div class="post">
        <p>
          <%= link_to post.title, post, class: 'post-title' %>
        </p>
        <p>
          <% if current_user %>
            Author: <%= post.user.name %>
          <% else %>
            Author: anonymous
          <% end %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
