<h2><%= link_to "Create new post", new_post_path %></h2>

<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="post">
      <p><%= link_to post.title, post, class: 'post-title' %></p>
      <% if user_signed_in? %>
        <p>Author: <%= post.user.name %></p>
      <% else %>
        <p>Author: anonymous</p>
      <% end %>
    </div>
  <% end %>
<% end %>
