// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
}

.post {
  border: solid rgb(122, 114, 3) 2px;
  font-size: large;
  margin: 20px;
}

.post-title {
  color: rgb(122, 114, 3);
  font-size: larger
}

.title {
  margin: 20px;
}

.body {
  margin: 20px;
}

.notice {
  border: 2px solid black;
  text-align: center;
  font-size: 40px;
  background-color: green;
  margin: 0;
}

.alert {
  border: 2px solid black;
  text-align: center;
  font-size: 40px;
  background-color: red;
  margin: 0;
}

.field_with_errors {
  border: 2px solid rgb(144, 24, 199);
}

.home-page-link {
  text-align: center;
}

ul {
  display: inline-block;
}

ul li {
  display: block;
  position: relative;
  float: left;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}