// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  margin: 0;
}

.post {
  border: solid green 2px;
  font-size: large;
  margin: 20px;
}

.title {
  margin: 20px;
}

.body {
  margin: 20px;
}

.notice {
  border: 2px solid black;
  text-align: center;
  font-size: 40px;
  background-color: green;
  margin: 0;
}

.alert {
  border: 2px solid black;
  text-align: center;
  font-size: 40px;
  background-color: red;
  margin: 0;
}

.field_with_errors {
  border: 2px solid rgb(144, 24, 199);
}

.home-page-link {
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  gap: 100px;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
